a:link,a:visited {
text-decoration:none;
color:#FFFFFF;
}
a:hover,a:active {
	color: #000;
	text-decoration: none;
	text-align: right;
}
.table4 {
	margin-top: -7pt;
	margin-left: -8px;
	width: 1025pt;
	background-color: #008CFF;
}
.table4 tr #atas {
	color: #FFFFFF;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	text-align: left;
	font-size: xx-large;
}

.table4 tr td table tr #logout {
	text-align: right;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: large;
}
.table tr td {
	text-align: center;
	color: #FFFFFF;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
.table {
	background-color: #008CFF;
	font-size: large;
	border-top-right-radius: 15pt;
	border-top-left-radius: 15pt;
	margin-top: 133px;
}
.table2 tr td #nama {
	margin-left: 30pt;
	text-align: center;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
.table2 tr td #nisn {
	margin-left: 30pt;
	text-align: center;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
.table2 tr td #kelas {
	margin-left: 30pt;
	text-align: center;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
.table3 {
	background-color: #008CFF;
	border-bottom-right-radius: 15pt;
	border-bottom-left-radius: 15pt;
}
.table2 tr td #date {
	margin-left: 30pt;
}
.table2 tr td #nama_barang {
	margin-left: 30pt;
	text-align: center;
}
.table2 tr td #harga {
	margin-left: 30pt;
	text-align: center;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
.table3 tr td #beli {
	margin-left: 35pt;
	background-color: #008CFF;
	color: #FFFFFF;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: large;
	text-align: center;
	border-radius: 10pt;
}
.table2 tr #kiri {
	background-color: #008CFF;
}
.table2 tr #kanan {
	background-color: #008CFF;
}
.table2 tr td {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
.table5 {
	margin-top: -7pt;
	margin-left: -8px;
	width: 1025pt;
	background-color: #008CFF;
}
.table5 tr #atas {
	color: #FFFFFF;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	text-align: left;
	font-size: xx-large;
}

.table5 tr td table tr #logout {
	text-align: right;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: large;
}