a:link,a:visited {
text-decoration:none;
color:#FFFFFF;
}
a:hover,a:active {
	color: #000000;
	text-decoration: none;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
.table tr td #btn-login {
	text-align: center;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	width: 56pt;
	height: 21pt;
	margin-left: 110pt;
	color: #FFFFFF;
	background-color: #008CFF;
	margin-bottom: 3pt;
}
.table2 {
	border-top-left-radius: 15pt;
	border-top-right-radius: 15pt;
	background-color: #008CFF;
	margin-top: 133px;
}
.table {
	border-bottom-right-radius: 15pt;
	border-bottom-left-radius: 15pt;
}
.table tr #bawah {
	background-color: #008CFF;
}
.table2 tr #atas {
	color: #FFFFFF;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: large;
}
.table3 {
	background-color: #008CFF;
	border-bottom-right-radius: 15pt;
	border-bottom-left-radius: 15pt;
	text-align: right;
}
.table tr #samping {
	background-color: #008CFF;
}
.table tr #kanan {
	background-color: #008CFF;
}
.table tr td #user {
	margin-left: 70px;
	margin-bottom: 11px;
	margin-top: 12px;
	text-align: center;
}
.table tr td input {
	margin-left: 70px;
	text-align: center;
}
.table tr td button {
	margin-left: 159px;
	margin-bottom: 7pt;
	margin-top: 9pt;
	background-color: #008CFF;
	color: #FFFFFF;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
.table tr td #daftar {
	background-color: #008CFF;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}