a:link,a:visited {
text-decoration:none;
color:#FFFFFF;
}
a:hover,a:active {
color:#000;
text-decoration:none;
}
.table {
	margin-top: -7pt;
	width: 1025pt;
	background-color: #008CFF;
	margin-left: -8px;
}
.table tr #atas {
	color: #FFFFFF;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	text-align: left;
	font-size: xx-large;
}

.table tr td table tr #logout {
	text-align: right;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: large;
}.table2 {
	color: #FFFFFF;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	background-color: #008CFF;
	text-align: center;
	margin-top: 133px;
}
.table3 {
	background-color: #008CFF;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	text-align: center;
	margin-top: 6px;
	border-radius: 10px;
}
.table4 {
	background-color: #008CFF;
	font-size: large;
	border-top-right-radius: 15pt;
	border-top-left-radius: 15pt;
	margin-top: 133px;
	color: #FFFFFF;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	text-align: center;
}
.table5 tr #kiri {
	background-color: #008CFF;
}
.table5 tr #kanan {
	background-color: #008CFF;
}
.table5 tr td {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
.table5 tr td #nama {
	margin-left: 30pt;
	text-align: center;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
.table5 tr td #nisn {
	margin-left: 30pt;
	text-align: center;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
.table5 tr td #kelas {
	margin-left: 30pt;
	text-align: center;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
.table5 tr td #harga {
	margin-left: 30pt;
	text-align: center;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
.table5 tr td #date {
	margin-left: 30pt;
	text-align: center;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
.table5 tr td #nama_barang {
	margin-left: 30pt;
	text-align: center;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
.table6 {
	background-color: #008CFF;
	border-bottom-right-radius: 15pt;
	border-bottom-left-radius: 15pt;
}
.table6 tr td #beli {
	margin-left: 35pt;
	background-color: #008CFF;
	color: #FFFFFF;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: large;
	text-align: center;
	border-radius: 10pt;
}